.cta {
  background-color: #eae0d5;
  padding: 80px 20px;
  text-align: center;
}

.cta-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  line-height: 1.2;
  color: #655e54;
  margin: 0;
}

.cta p {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 1.7;
  color: #716a60;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.botao-cta {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
  background-color: #655e54;
  color: #fdfcf9;
  padding: 18px 40px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.botao-cta:hover {
  background-color: #4d463d;
  transform: scale(1.05);
}
@media (max-width: 400px) {
  .cta h2 {
    font-size: 1.5rem;
  }
  .cta p {
    font-size: 1.1rem;
  }
  .botao-cta {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: #655e54;
    color: #fdfcf9;
    padding: 18px 40px;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .botao-cta:hover {
    background-color: #4d463d;
    transform: scale(1.05);
  }
}
