.portfolio-intro {
  text-align: center;
}
.portfolio-intro h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #c6b497;
  margin-bottom: 1rem;
}
.portfolio-intro p {
  font-family: "Playfair Display", sans-serif;
  font-size: 1rem;
  color: #716a60;
  font-size: 1.5rem;
}
.imagem-portifolio {
  width: 500px;
  height: 500px;
  object-fit: cover;
  transition: 0.5s;
  margin-top: 30px;
}
.imagem-portifolio:hover {
  transform: scale(1.1);
}
.portfolio-flex {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
@media (max-width: 800px) {
  .portfolio-flex {
    display: grid;
    grid-template-columns: 1fr;
  }
}
